<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<br/>
<div class="container">
    <h1>Sign Up</h1>
    <div class="form-group">
        <form>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" name="login" id="login" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"  name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm password</label>
                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control">
            </div>
            <input type="submit" class="btn btn-success" value="Sign Up"/>
        </form>
    </div>
</div>
</body>
</html>