<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Training Videos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(async function() {
            fetch('/adminmain/load', {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
                .then((response) => {
                    let root = document.getElementById('root');
                    if(response.status === 200) {
                        root.innerHTML = '\n' +
                            '    <nav class="navbar navbar-light bg-success justify-content-between" style="margin: 10px;">\n' +
                            '        <a class="navbar-brand text-light" href="#">\n' +
                            '            <img src="https://img.icons8.com/material-two-tone/24/000000/video.png" width="30" height="30" class="d-inline-block align-top" alt="">\n' +
                            '            Training Videos - Admin\n' +
                            '        </a>\n' +
                            '        <a class="navbar-brand text-light" th:href="@{/usermain}">\n' +
                            '            Go to user`s view\n' +
                            '        </a>\n' +
                            '    </nav>\n' +
                            '    <div class="row">\n' +
                            '        <div class="col-4 container">\n' +
                            '            <h3 style="padding: 10px;">Add a video</h3>\n' +
                            '            <div class="col rounded bg-light" style=" padding: 10px;">\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videotitle">Title</label>\n' +
                            '                    <input type="text" name="videotitle" id="videotitle" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videotheme">Theme</label>\n' +
                            '                    <input type="text" name="videotheme" id="videotheme" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videoauthor">Author</label>\n' +
                            '                    <input type="text" name="videoauthor" id="videoauthor" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="dropdown">\n' +
                            '                    <select class="form-select" aria-label="Discipline" id ="disciplinesSelect" >\n' +
                            '                        <option selected>Select discipline</option>\n' +
                            '                    </select>\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videourl">URL</label>\n' +
                            '                    <input type="text" name="videourl" id="videourl" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videodescription">Description</label>\n' +
                            '                    <input type="text" name="videodescription" id="videodescription" class="form-control">\n' +
                            '                </div>\n' +
                            '                <input type="submit" value="Add" class="btn btn-success" onclick="addVideo()"/>\n' +
                            '            </div>\n' +
                            '        </div>\n' +
                            '        <div class="col-4 container">\n' +
                            '            <h3 style="padding: 10px;">Edit a video</h3>\n' +
                            '            <div class="col rounded bg-light" style=" padding: 10px;">\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="editvideotitle">Title</label>\n' +
                            '                    <input type="text" name="editvideotitle" id="editvideotitle" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="editvideotheme">Theme</label>\n' +
                            '                    <input type="text" name="editvideotheme" id="editvideotheme" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="editvideoauthor">Author</label>\n' +
                            '                    <input type="text" name="editvideoauthor" id="editvideoauthor" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="dropdown">\n' +
                            '                    <select class="form-select" aria-label="Discipline" id ="editDisciplinesSelect" >\n' +
                            '                        <option selected>Select discipline</option>\n' +
                            '                    </select>\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="editvideourl">URL</label>\n' +
                            '                    <input type="text" name="editvideourl" id="editvideourl" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="editvideodescription">Description</label>\n' +
                            '                    <input type="text" name="editvideodescription" id="editvideodescription" class="form-control">\n' +
                            '                </div>\n' +
                            '                <a id="editVideoButton" class="btn btn-success">Edit</a>\n' +
                            '            </div>\n' +
                            '        </div>\n' +
                            '        <div class="col container" width="600">\n' +
                            '            <h3 style="padding: 10px;">List</h3>\n' +
                            '            <nav aria-label="Pages">\n' +
                            '                <ul class="pagination" id="pagination">\n' +
                            '                    <li class="page-item"><a class="page-link" href="#">1</a></li>\n' +
                            '                </ul>\n' +
                            '            </nav>\n' +
                            '            <table class="table" id="table_id">\n' +
                            '                <tbody>\n' +
                            '                <tr class="bg-light">\n' +
                            '                    <th>Title</th>\n' +
                            '                    <th>Theme</th>\n' +
                            '                    <!--  <th>Discipline</th>-->\n' +
                            '                    <th>Author</th>\n' +
                            '                    <th>Date</th>\n' +
                            '                    <th>URL</th>\n' +
                            '                    <th>Description</th>\n' +
                            '                    <th>edit</th>\n' +
                            '                    <th>delete</th>\n' +
                            '                </tr>\n' +
                            '                </tbody>\n' +
                            '                <tbody/>\n' +
                            '            </table>\n' +
                            '        </div>\n' +
                            '    </div>'
                    }
                    else root.innerHTML = '<h1>Admin page is forbidden</h1>';
                })

            let disciplines = await fetch('/general/getDisciplines', {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            if (disciplines.status === 200) {
                let tr = '';
                (await disciplines.json()).forEach(value => { tr += `<option value="${value.id}">${value.name}</option>`; })
                document.querySelector('#disciplinesSelect').innerHTML = tr;
                document.querySelector('#editDisciplinesSelect').innerHTML = tr;
            }
            else alert("Disciplines: " + disciplines.status + " " + (await disciplines.json()).message);


            fetch('/general/getVideoList', {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
                .then((response) => { return response.json();})
                .then(data => {
                    let tr = '';
                    let pages = '';
                    let pdata = data.content;
                    let pagesCount = data.totalPages;
                    for (let i = 1; i<= pagesCount; i++) {
                        pages += `<li class="page-item"><a class="page-link" href="javascript:setPage(${i})">${i}</a></li>`;
                    }
                    pdata.forEach(function (value) {
                        tr += `<tr>
                                   <td>${value.title}</td>
                                   <td>${value.theme}</td>
                                   <td>${value.author}</td>
                                   <td>${value.date.toString()}</td>
                                   <td>${value.url}</td>
                                   <td>${value.description}</td>
                                   <td><a href="javascript:editVideoForm(${value.id});"><img src="https://img.icons8.com/ios/50/000000/edit--v1.png" width="20"/></a></td>
                                   <td><a href="javascript:deleteVideo(${value.id});"><img src="https://img.icons8.com/windows/32/000000/delete-sign.png" width="20"/></a></td>
                               </tr>`;
                    });
                    document.querySelector('#table_id tbody:nth-child(2)').innerHTML = tr;
                    document.querySelector('#pagination').innerHTML = pages;
                })
                .catch(error => {console.log(error)});
        });
    </script>
</head>
<body>
<div class="container" id="root"></div>
<script>
    async function addVideo() {
        let response = await fetch("/adminmain/addvideo", { method: 'POST', headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': `${localStorage.getItem('token')}`},
                body: JSON.stringify({
                    title: document.getElementById("videotitle").value,
                    theme: document.getElementById("videotheme").value,
                    author: document.getElementById("videoauthor").value,
                    disciplineId: $('#disciplinesSelect option:selected').val(),
                    url: document.getElementById("videourl").value,
                    description: document.getElementById("videodescription").value
                })
            });
        if (response.status === 201) alert("Success ADD. Update page to display changes");
        else alert((await response.json()).message);
    }
    async function deleteVideo(id) {
        let response = await fetch(`adminmain/deletevideo/${id}`,  {method: 'DELETE', headers: { 'Authorization': `${localStorage.getItem('token')}`}})
        if (response.status === 200) alert("Success DELETE. Update page to display changes");
        else alert((await response.json()).message);
    }
    async function editVideo(id) {
        let response = await fetch(`adminmain/editvideo/${id}`, {method: 'PUT', headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': `${localStorage.getItem('token')}`},
            body: JSON.stringify({
                title: document.getElementById("editvideotitle").value,
                theme: document.getElementById("editvideotheme").value,
                disciplineId:  $('#editDisciplinesSelect option:selected').val(),
                author: document.getElementById("editvideoauthor").value,
                url: document.getElementById("editvideourl").value,
                description: document.getElementById("editvideodescription").value
            })
        })
        if (response.status === 200) alert("Success EDIT. Update page to display changes");
        else alert((await response.json()).message);
    }
    async function editVideoForm(id) {
        fetch(`adminmain/getVideo/${id}`,  {method: 'GET', headers: { 'Authorization': `${localStorage.getItem('token')}`}})
            .then((response) => { return response.json();})
            .then(data => {
                document.getElementById("editvideotitle").value = data.title;
                document.getElementById("editvideotheme").value = data.theme;
                document.getElementById("editvideoauthor").value = data.author;
                document.getElementById("editDisciplinesSelect").value = data.disciplineEntity.id;
                document.getElementById("editvideourl").value = data.url;
                document.getElementById("editvideodescription").value = data.description;
                document.getElementById("editVideoButton").href = `javascript:editVideo(${id})`;
            });
    }
    function setPage(page) {
        fetch(`/general/getVideoList?page=${page-1}`, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { if(response.status !== 200) alert("Error!" + response.text()); return response.json();})
            .then(data => {
                let tr = '';
                let pdata = data.content;
                pdata.forEach(function (value) {
                    tr += `<tr>
                                   <td>${value.title}</td>
                                   <td>${value.theme}</td>
                                   <td>${value.author}</td>
                                   <td>${value.date}</td>
                                   <td>${value.url}</td>
                                   <td>${value.description}</td>
                                   <td><a href="javascript:editVideoForm(${value.id});"><img src="https://img.icons8.com/ios/50/000000/edit--v1.png" width="20"/></a></td>
                                   <td><a href="javascript:deleteVideo(${value.id});"><img src="https://img.icons8.com/windows/32/000000/delete-sign.png" width="20"/></a></td>
                               </tr>`;
                });
                document.querySelector('#table_id tbody:nth-child(2)').innerHTML = tr;
            });
    }
</script>
</body>
</html>