<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Training Videos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suwannaphum">
    <style>
        .bg-custom-1 {
            background: #6ac1de;
        }
        .bg-custom-2 {
            background-image: linear-gradient(15deg, #4450c2 0%, #6ac1de 100%);
        }
        body{
            font-family: 'Suwannaphum', serif;
            background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612760284_87-p-fon-goluboi-nezhnii-s-razvodami-147.jpg");
            background-size: cover;
        }
    </style>
    <script>
        $(document).ready(function() {
            fetch('/adminmain/load', {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
                .then((response) => {
                    let root = document.getElementById('root');
                    if(response.status === 200) {
                        root.innerHTML = '\n' +
                            '    <nav class="navbar navbar-light bg-success justify-content-between bg-custom-2" style="margin: 10px;">\n' +
                            '        <a class="navbar-brand text-light">\n' +
                            '            <img src="https://img.icons8.com/material-two-tone/24/000000/video.png" width="30" height="30" class="d-inline-block align-top" alt="">\n' +
                            '            Training Videos - Admin\n' +
                            '        </a>\n' +
                            '        <a class="navbar-brand text-light" href="/usermain">\n' +
                            '            Go to user`s view\n' +
                            '        </a>\n' +
                            '    </nav>\n' +
                            '    <div class="row">\n' +
                            '        <div class="col-4 container">\n' +
                            '            <h2 style="padding: 10px; color: white;">Add or edit a video</h2>\n' +
                            '            <div class="col rounded bg-light" style=" padding: 10px; margin:0 0 10px 0">\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videotitle">Title</label>\n' +
                            '                    <input type="text" name="videotitle" id="videotitle" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videotheme">Theme</label>\n' +
                            '                    <input type="text" name="videotheme" id="videotheme" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videoauthor">Author</label>\n' +
                            '                    <input type="text" name="videoauthor" id="videoauthor" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="disciplinesSelect">Discipline</label>\n' +
                            '                   <div class="dropdown">\n' +
                            '                       <select class="form-select" aria-label="Discipline" id ="disciplinesSelect" >\n' +
                            '                           <option selected>Select discipline</option>\n' +
                            '                       </select>\n' +
                            '                   </div>\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videourl">URL</label>\n' +
                            '                    <input type="text" name="videourl" id="videourl" class="form-control">\n' +
                            '                </div>\n' +
                            '                <div class="form-group">\n' +
                            '                    <label for="videodescription">Description</label>\n' +
                            '                    <input type="text" name="videodescription" id="videodescription" class="form-control">\n' +
                            '                </div>\n' +
                            '                <input type="submit" value="Add" class="btn btn-dark bg-custom-1" onclick="addVideo()"/>\n' +
                            '                 <a id="editVideoButton" class="btn btn-dark bg-custom-1">Edit</a>\n' +
                            '            </div>\n' +
                            '           <div class="col container bg-white rounded text-danger font-weight-bold" id="errorOutput" style="margin: 10; width: 500px"></div>' +
                            '        </div>\n' +
                            '        <div class="col container" width="600">\n' +
                            '            <h2 style="padding: 10px; color: white;">List</h2>\n' +
                            '            <nav aria-label="Pages">\n' +
                            '                <ul class="pagination" id="pagination">\n' +
                            '                    <li class="page-item"><a class="page-link" href="#">1</a></li>\n' +
                            '                </ul>\n' +
                            '            </nav>\n' +
                            '            <table class="table rounded" id="table_id" style="background: white">\n' +
                            '                <tbody>\n' +
                            '                <tr class="bg-light">\n' +
                            '                    <th>Title</th>\n' +
                            '                    <th>Theme</th>\n' +
                            '                    <!--  <th>Discipline</th>-->\n' +
                            '                    <th>Author</th>\n' +
                            '                    <th>Date</th>\n' +
                            '                    <th>URL</th>\n' +
                            '                    <th>Description</th>\n' +
                            '                    <th>edit</th>\n' +
                            '                    <th>delete</th>\n' +
                            '                </tr>\n' +
                            '                </tbody>\n' +
                            '                <tbody/>\n' +
                            '            </table>\n' +
                            '        </div>\n' +
                            '    </div>'
                    }
                    else root.innerHTML = '<h1>Admin page is forbidden</h1>';
                })

            fetch('/general/getDisciplines', {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
                .then((response) => { return response.json();})
                .then(data => {
                    let tr = '';
                    data.forEach(value => { tr += `<option value="${value.id}">${value.name}</option>`;document.querySelector('#disciplinesSelect').innerHTML = tr;
                })});


            fetch('/general/getVideoList', {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
                .then((response) => { return response.json();})
                .then(data => {
                    let tr = '';
                    let pages = '';
                    let pdata = data.content;
                    let pagesCount = data.totalPages;
                    for (let i = 1; i<= pagesCount; i++) {
                        pages += `<li class="page-item"><a class="page-link" href="javascript:setPage(${i})">${i}</a></li>`;
                    }
                    pdata.forEach(function (value) {
                        tr += `<tr>
                                   <td>${value.title}</td>
                                   <td>${value.theme}</td>
                                   <td>${value.author}</td>
                                   <td>${value.date.toString()}</td>
                                   <td>${value.url}</td>
                                   <td>${value.description}</td>
                                   <td><a href="javascript:editVideoForm(${value.id});"><img src="https://img.icons8.com/ios/50/000000/edit--v1.png" width="20"/></a></td>
                                   <td><a href="javascript:deleteVideo(${value.id});"><img src="https://img.icons8.com/windows/32/000000/delete-sign.png" width="20"/></a></td>
                               </tr>`;
                    });
                    document.querySelector('#table_id tbody:nth-child(2)').innerHTML = tr;
                    document.querySelector('#pagination').innerHTML = pages;
                })
                .catch(error => {console.log(error)});
        });
    </script>
</head>
<body>
<div class="container" id="root" style="max-width: 1550px;"></div>
<script>
    async function addVideo() {
        let response = await fetch("/adminmain/addvideo", { method: 'POST', headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': `${localStorage.getItem('token')}`},
                body: JSON.stringify({
                    title: document.getElementById("videotitle").value,
                    theme: document.getElementById("videotheme").value,
                    author: document.getElementById("videoauthor").value,
                    disciplineId: $('#disciplinesSelect option:selected').val(),
                    url: document.getElementById("videourl").value,
                    description: document.getElementById("videodescription").value
                })
            });
        if (response.status === 201) {
            document.querySelector('#errorOutput').innerHTML = '';
            alert("Success ADD. Update page to display changes");
        }
        else {
            let tr = '';
            let pdata = (await response.json()).errors;
            pdata.forEach(function (value) {tr += value + '<br>'; });
            document.querySelector('#errorOutput').innerHTML = tr;
        }
    }
    async function deleteVideo(id) {
        let response = await fetch(`adminmain/deletevideo/${id}`,  {method: 'DELETE', headers: { 'Authorization': `${localStorage.getItem('token')}`}})
        if (response.status === 200) alert("Success DELETE. Update page to display changes");
        else alert((await response.json()).message);
    }
    async function editVideo(id) {
        let response = await fetch(`adminmain/editvideo/${id}`, {method: 'PUT', headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': `${localStorage.getItem('token')}`},
            body: JSON.stringify({
                title: document.getElementById("videotitle").value,
                theme: document.getElementById("videotheme").value,
                author: document.getElementById("videoauthor").value,
                disciplineId: $('#disciplinesSelect option:selected').val(),
                url: document.getElementById("videourl").value,
                description: document.getElementById("videodescription").value
            })
        })
        if (response.status === 200) {
            document.querySelector('#errorOutput').innerHTML = '';
            alert("Success EDIT. Update page to display changes");
        }
        else {
            let tr = '';
            let pdata = (await response.json()).errors;
            pdata.forEach(function (value) {tr += value + '<br>'; });
            document.querySelector('#errorOutput').innerHTML = tr;
        }
    }
    async function editVideoForm(id) {
        fetch(`adminmain/getVideo/${id}`,  {method: 'GET', headers: { 'Authorization': `${localStorage.getItem('token')}`}})
            .then((response) => { return response.json();})
            .then(data => {
                document.querySelector('#errorOutput').innerHTML = '';
                document.getElementById("videotitle").value = data.title;
                document.getElementById("videotheme").value = data.theme;
                document.getElementById("videoauthor").value = data.author;
                document.getElementById("disciplinesSelect").value = data.disciplineEntity.id;
                document.getElementById("videourl").value = data.url;
                document.getElementById("videodescription").value = data.description;
                document.getElementById("editVideoButton").href = `javascript:editVideo(${id})`;
            });
    }
    function setPage(page) {
        fetch(`/general/getVideoList?page=${page-1}`, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { if(response.status !== 200) alert("Error!" + response.text()); return response.json();})
            .then(data => {
                let tr = '';
                let pdata = data.content;
                pdata.forEach(function (value) {
                    tr += `<tr>
                                   <td>${value.title}</td>
                                   <td>${value.theme}</td>
                                   <td>${value.author}</td>
                                   <td>${value.date}</td>
                                   <td>${value.url}</td>
                                   <td>${value.description}</td>
                                   <td><a href="javascript:editVideoForm(${value.id});"><img src="https://img.icons8.com/ios/50/000000/edit--v1.png" width="20"/></a></td>
                                   <td><a href="javascript:deleteVideo(${value.id});"><img src="https://img.icons8.com/windows/32/000000/delete-sign.png" width="20"/></a></td>
                               </tr>`;
                });
                document.querySelector('#table_id tbody:nth-child(2)').innerHTML = tr;
            });
    }
</script>
</body>
</html>