<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Sign In</title>

</head>
<body>
<div class="container" style="padding: 10px;">
  <div class="row">
    <div class="col-4 container bg-light rounded" >
      <h1>Sign In</h1>
      <div class="form-group">
        <div>
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" name="login" id="login" class="form-control">
            <div style="color:red">login Error</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <a href="#"><small class="text-muted">Create an account.</small></a></br>
          <input type="submit" class="btn btn-success" value="Sign In" onclick="login()"/>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  async function login() {
    let login = document.getElementById("login").value;
    let password = document.getElementById("password").value;
    console.log(password);
    fetch("/login", { method: 'POST',  headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' }, body: JSON.stringify({ login: login, password: password }) })
    .then((response) => {
        if (response.status === 200) {
          localStorage.setItem("token", response.headers.get("Authorization"));
          if (login === "pasyagitka") {
            console.log('adminmain');
            document.location.href = "/adminmain";
            /*  var req = new XMLHttpRequest();
              req.open('GET', '/adminmain', true); //true means request will be async
              req.onreadystatechange = function (aEvt) {
                if (req.readyState == 4) {
                  if(req.status == 200) {
                    document.write(req.responseText);
                  }
                  else
                  alert("Error loading page\n");
                }
              };
              req.setRequestHeader('Authorization', response.headers.get("Authorization"));
              req.send();*/
          } else {
            console.log('usermain');
            document.location.href = "/usermain";
          }
      } else {
        document.querySelector("#result").style.color = "#e74c3c";
        document.querySelector("#result").innerHTML = data.error;
      }
    });
  }
</script>
</body>
</html>