<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usermain - Training Videos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suwannaphum">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .bg-custom-1 {
            background: #6ac1de;
        }
        .bg-custom-2 {
            background-image: linear-gradient(15deg, #4450c2 0%, #6ac1de 100%);
        }
        body {
            font-family: 'Suwannaphum', serif;
            background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612760284_87-p-fon-goluboi-nezhnii-s-razvodami-147.jpg");
            background-size: cover;
        }
    </style>
</head>
<script>
    $(document).ready(function() {
        fetch('/general/getUsername', {headers: { 'Authorization': `${localStorage.getItem('token')}`}})
            .then((response) => { return response.text();})
            .then(pdata => { document.querySelector('#username').innerHTML = `Hello, ${pdata}`; });

        fetch('/general/getAuthors', {headers: { 'Authorization': `${localStorage.getItem('token')}`}})
            .then((response) => { return response.json();})
            .then(pdata => {
                let tr = `<option value="All" selected="selected">All authors</option>`;
                pdata.forEach(value => { tr += `<option value="${value}">${value}</option>`; })
                document.querySelector('#filterauthor').innerHTML = tr;
            });

        fetch('/general/getThemes', {headers: { 'Authorization': `${localStorage.getItem('token')}`}})
            .then((response) => { return response.json();})
            .then(pdata => {
                let tr = `<option value="All" selected="selected">All themes</option>`;
                pdata.forEach(value => { tr += `<option value="${value}">${value}</option>`; })
                document.querySelector('#filtertheme').innerHTML = tr;
            });

        fetch('/general/getVideoList', {headers: { 'Authorization': `${localStorage.getItem('token')}`}})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '';
                let pages = '';
                let pdata = data.content;
                for (let i = 1; i<=  data.totalPages; i++) {
                    pages += `<li class="page-item"><a class="page-link" href="javascript:setPage('all', ${i})">${i}</a></li>`;
                }
                pdata.forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" download class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
                document.querySelector('#pagination').innerHTML = pages;
            })
            .catch(error => {console.log(error);});
    });
</script>
<body>
<div class="container" style="max-width: 1550px">
    <nav class="navbar navbar-light text-light justify-content-between bg-custom-2" style="margin: 10px;">
        <a class="navbar-brand text-light" href="#">
            <img src="https://img.icons8.com/material-two-tone/24/000000/video.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Training Videos
        </a>
        <h4 id="username"></h4>
        <a class="navbar-brand text-light" id="adminpage">
        </a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-light" value="Sign Out"/>
        </form>
    </nav>
    <div class="col">
        <div class="container bg-white rounded" style="padding: 20px">
            <div class="col container"  style="margin: 10px;">
                <div class="row">
                    <div class="col-11">
                        <input type="text" id="search-input" placeholder="Search by title or theme" class="form-control">
                    </div>
                    <div class="col-1">
                        <input type="button" class="btn btn-outline-primary" value="Search" onclick="search(0)"/>
                    </div>
                </div>
            </div>
            <div class="container" style="margin: 10px;">
                <div class="btn-group">
                    <select class="form-select custom-select" aria-label="Discipline" id="filtertheme" onmouseup="filter(0)">
                        <option selected>Theme</option>
                    </select>
                </div>
                <div class="btn-group">
                    <select class="form-select custom-select" aria-label="Discipline" id="filterauthor" onmouseup="filter(0)">
                        <option selected>Author</option>
                    </select>
                </div>
            </div>
            <div class="container" style="margin: 10px;">
                <input type="button" onclick="download()" class="btn btn-outline-primary" value="Get download url"/>
                <a id="download" download="Videos.json">Download video list</a>
            </div>
        </div>
        <nav aria-label="Pages" class="content-center" style="margin: 10px">
            <ul class="pagination justify-content-center" id="pagination" >
                <li class="page-item"><a class="page-link" href="#">1</a></li>
            </ul>
        </nav>
        <div id = "videoList"  class="container d-flex flex-wrap justify-content-center bg-white rounded" style="padding: 10px; flex-direction: row-reverse; margin-bottom: 10px">
            <!-- https://codingyaar.com/bootstrap-video-card/ -->
        </div>
    </div>
</div>
<script>
    function download() {
        fetch('/usermain/getVideoListDownload', {headers: { 'Authorization': `${localStorage.getItem('token')}`  }})
            .then((response) => { return response.json();})
            .then(pdata => {
                let data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(pdata, null, ' '));
                let a = document.getElementById('download');
                a.href = 'data:' + data;
            })
            .catch(error => {console.log(error); });
    }
    function filter(page){
        let theme = document.getElementById(`filtertheme`).value;
        let author = document.getElementById(`filterauthor`).value;
        let url = `/usermain/filterVideos?page=${page}&theme=${theme}&author=${author}`; //display filtered (both)
        if (theme === "All" && author === "All") url =  `/general/getVideoList`;         //display all
        fetch(url, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '', pages = '';
                for (let i = 1; i<= data.totalPages; i++) {
                    pages += `<li class="page-item"><a class="page-link" href="javascript:setPage('filter', ${i})">${i}</a></li>`;
                }
                (data.content).forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
                document.querySelector('#pagination').innerHTML = pages;
            })
            .catch(error => {console.log(error);});
    }
    function search(page) {
        let search = document.getElementById("search-input").value;
        let url = (search.length === 0) ? `/general/getVideoList?page=${page}` //display all if search bar is empty
            : `/usermain/searchVideos/${search}?page=${page}`;
        fetch(url, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '', pages ='';
                for (let i = 1; i<= data.totalPages; i++) {
                    pages += `<li class="page-item"><a class="page-link" href="javascript:setPage('search', ${i})">${i}</a></li>`;
                }
                (data.content).forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
                document.querySelector('#pagination').innerHTML = pages;
            })
            .catch(error => {console.log(error);});
    }
    function setPage(criteria, page) {
        if (criteria === 'filter') {filter(page-1); return;}
        if (criteria === 'search') {search(page-1); return;}
        getVideoList(page);
    }
    function getVideoList(page) {
        fetch(`/general/getVideoList?page=${page-1}`, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '';
                (data.content).forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
            })
            .catch(error => {console.log(error);});
    }
</script>
</body>
</html>