<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usermain - Training Videos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<script>
    $(document).ready(function() {
        fetch('/general/getUsername', {headers: { 'Authorization': `${localStorage.getItem('token')}`,  }})
            .then((response) => { return response.text();})
            .then(pdata => {
                    document.querySelector('#username').innerHTML = `Hello, ${pdata}`;
                });

        fetch('/general/getAuthors', {headers: { 'Authorization': `${localStorage.getItem('token')}`,  }})
            .then((response) => { return response.json();})
            .then(pdata => {
                let tr = `<option value="All" selected="selected">All authors</option>`;
                pdata.forEach(value => {
                    tr += `<option value="${value}">${value}</option>`;
                })
                document.querySelector('#filterauthor').innerHTML = tr;
            });
        fetch('/general/getThemes', {headers: { 'Authorization': `${localStorage.getItem('token')}`,  }})
            .then((response) => { return response.json();})
            .then(pdata => {
                let tr = `<option value="All" selected="selected">All themes</option>`;
                pdata.forEach(value => {
                    tr += `<option value="${value}">${value}</option>`;
                })
                document.querySelector('#filtertheme').innerHTML = tr;
            });

        fetch('/general/getVideoList', {headers: { 'Authorization': `${localStorage.getItem('token')}`,  }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '';
                let pages = '';
                let pdata = data.content;
                for (let i = 1; i<=  data.totalPages; i++) {
                    pages += `<li class="page-item"><a class="page-link" href="javascript:setPage('all', ${i})">${i}</a></li>`;
                }
                pdata.forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" download class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
                document.querySelector('#pagination').innerHTML = pages;
            }).then().catch(error => {console.log(error);
        });
    });
</script>
<body>
<div class="container">
    <nav class="navbar navbar-light text-light bg-success justify-content-between" style="margin: 10px;">
        <a class="navbar-brand text-light" href="#">
            <img src="https://img.icons8.com/material-two-tone/24/000000/video.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Training Videos
        </a>
        <h4 id="username"></h4>
        <a class="navbar-brand text-light" id="adminpage">
        </a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <!--<input type="button" class="btn btn-outline-light" value="Sign Out"/>-->
    </nav>
    <div class="row">
        <div class="col container" style="margin: 10px;">
            <div class="row">
                <div class="col-10">
                    <input type="text" id="search-input" placeholder="Search by title or theme" class="form-control">
                </div>
                <div class="col-1">
                    <input type="button" class="btn btn-outline-success" value="Search" onclick="search(0)"/>
                </div>
            </div>
        </div>
        <div class="container" style="margin: 10px;">
            <h3 style="padding: 10px;">Filter</h3>
            <div class="btn-group">
                <select class="form-select" aria-label="Discipline" id="filtertheme" onmouseup="filter(0)">
                    <option selected>Theme</option>
                </select>
            </div>
            <div class="btn-group">
                <select class="form-select" aria-label="Discipline" id="filterauthor" onmouseup="filter(0)">
                    <option selected>Author</option>
                </select>
            </div>
        </div>
        <div class="container">
            <a id="download" download="Videos.json">Download video list</a>
            <button onclick="download()">Get download url</button>
        </div>
        <h3 style="align-self: center">List</h3><br>
        <nav aria-label="Pages">
            <ul class="pagination" id="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
            </ul>
        </nav>
        <div id = "videoList"  class="container d-flex flex-wrap-reverse justify-content-center" style="padding: 10px; flex-direction: row-reverse;">
            <!-- https://codingyaar.com/bootstrap-video-card/ -->
        </div>
    </div>
</div>
<script>
    async function download() {
        fetch('/usermain/getVideoListDownload', {headers: { 'Authorization': `${localStorage.getItem('token')}`  }})
            .then((response) => { return response.json();})
            .then(pdata => {
                let data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(pdata, null, ' '));
                let a = document.getElementById('download');
                a.href = 'data:' + data;
            }).then().catch(error => {console.log(error);
        });
    }
    async function filter(page){
        let theme = document.getElementById(`filtertheme`).value;
        let author = document.getElementById(`filterauthor`).value;
        let url = `/usermain/filterVideos?page=${page}&theme=${theme}&author=${author}`;
        if (theme === "All" && author === "All") url =  `/general/getVideoList`;
        fetch(url, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '';
                let pages = '';
                let pdata = data.content;
                for (let i = 1; i<= data.totalPages; i++) {
                    pages += `<li class="page-item"><a class="page-link" href="javascript:setPage('filter', ${i})">${i}</a></li>`;
                }
                pdata.forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
                document.querySelector('#pagination').innerHTML = pages;
            }).then().catch(error => {console.log(error);
        });
    }
    async function search(page) {
        let search = document.getElementById("search-input").value;
        let url = (search.length === 0) ? `/general/getVideoList?page=${page}` : `/usermain/searchVideos/${search}?page=${page}`;
        fetch(url, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '';
                let pages ='';
                pdata = data.content;
                console.log(pdata);
                for (let i = 1; i<= data.totalPages; i++) {
                    pages += `<li class="page-item"><a class="page-link" href="javascript:setPage('search', ${i})">${i}</a></li>`;
                }
                pdata.forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
                document.querySelector('#pagination').innerHTML = pages;
            }).then().catch(error => {console.log(error);
        });
    }
    async function setPage(criteria, page) {
        if (criteria === 'filter') {filter(page-1); return;}
        if (criteria === 'search') {search(page-1); return;}
        fetch(`/general/getVideoList?page=${page-1}`, {headers: { 'Authorization': `${localStorage.getItem('token')}` }})
            .then((response) => { return response.json();})
            .then(data => {
                let tr = '';
                let pdata = data.content;
                pdata.forEach(function (value) {
                    tr += `
                     <div class="card" style="width: 18rem; margin: 20px">
                           <video src="${value.url}" controls></video>
                            <div class="card-body">
                                <h5 class="card-title">${value.title}</h5>
                                <p class="card-text">${value.theme}, ${value.description}</p>
                                <a href="${value.url}" class="btn btn-outline-secondary">Watch</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">${new Date(value.date).toDateString()}, ${value.author}</small>
                            </div>
                       </div>`;
                });
                document.querySelector('#videoList').innerHTML = tr;
            }).then().catch(error => {console.log(error);});
    }
</script>
</body>
</html>